.hamburger-menu {
    position: absolute;
    width: 100%;
    z-index: 9999;
    div {
        padding: 0;
    }
    background-color:rgb(242, 242, 242);
    .menu-logo {
        cursor: pointer;
    }
    .delete-button {
        cursor: pointer;
    }
    img {
        height: 90px;
        width: auto;
    }
    .submenu-title {
        text-align: center;
        p {
            margin: 0 auto;
            width: 70%;
            border-bottom: 2px solid rgb(190, 190, 190);
        }
        margin-bottom: 10px;
    }
    .category {
        text-align: center;
        margin: 0 auto;
        padding: 15px 0;
    }
    .menu-end {
        .delete-button {
            display: block;
            margin: 0 auto;
        }
    }
}

.navigation {
    position: relative;
    z-index: 1;
    padding: 0;
    .container-fluid {
        padding: 0;
    }
    .navbar {
        margin: 0;
    }
    .navbar-collapse {
        padding: 0;
    }
    img {
        height: 90px;
        width: auto;
    }
    .nav-logo,
    .nav-menu {
        padding: 0;
    }
}

.container-fluid.slider {
    padding: 0;
}

#myCarousel {
    margin-bottom: 60px;
    position: relative;
    overflow: hidden;
    /* Since positioning the image, we need to help out the caption */
    .carousel-button {
        z-index: 15;
        position: relative;
    }
    .carousel-indicators {
        width: 90px;
        height: 30px;
        z-index: 10;
        position: absolute;
        top: 10px;
        right: 10px;
        left: auto;
        // left: 90%;
        li {
            position: relative;
            float: left;
            width: 15px;
            height: 15px;
            margin: 3px;
            background-color: #bbb;
            border: none;
            &.active {
                background-color: rgb(0, 75, 141);
            }
        }
    }
    .carousel-caption {
        z-index: 1;
        .carousel-veloster {
            font-size: 18px;
            color: #fff;
            padding: 15px 35px;
            border: 1px solid #fff;
            border-radius: 50px;
            &:hover {
                text-decoration: none;
                background-color: #eee;
                color: rgb(0, 71, 141);
                cursor: pointer;
            }
        }
        .carousel-sonata-2 {
            font-size: 18px;
            color: #fff;
            padding: 15px 35px;
            border: 1px solid #fff;
            border-radius: 50px;
            &:hover {
                text-decoration: none;
                background-color: #eee;
                color: rgb(0, 71, 141);
                cursor: pointer;
            }
        }
        .carousel-tucson {
            font-size: 18px;
            color: #fff;
            padding: 15px 35px;
            border-radius: 50px;
            background-color: rgb(14, 77, 150);
            &:hover {
                text-decoration: none;
                background-color: #fff;
                color: rgb(14, 77, 150);
                cursor: pointer;
            }
        }
        .carousel-sonata {
            font-size: 18px;
            color: #fff;
            padding: 15px 35px;
            border-radius: 50px;
            background-color: rgb(14, 77, 150);
            &:hover {
                text-decoration: none;
                background-color: #fff;
                color: rgb(14, 77, 150);
                cursor: pointer;
            }
        }
    }
    .item {
        .img-responsive {
            margin: 0 auto;
            width: 100%;
        }
        background-color: #555;
        overflow: hidden;
    }
}

.sedans,
.crossovers {
    padding: 0;
}

.banner {
    margin: 0 auto;
    .banner-image {
        margin-left: auto;
        margin-right: auto;
    }
}

.lineup-title {
    color: rgb(128, 128, 128);
    font-size: 30px;
    margin: 75px 0 20px 20px;
    font-family: Arial;
}

.vehicle {
    padding: 10px 15px;
    .model-name {
        color: rgb(0, 85, 184);
        font-size: 20px;
    }
    .price {
        color: rgb(0, 45, 115);
        font-size: 18px;
    }
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
        display: inline-block;
    }
    text-align: center;
}

.find-a-dealer {
    background-color: rgb(0, 75, 141);
    padding: 5% 0;
    // margin: 40px 0px;
    text-align: center;
    position: relative;
    .location {
        margin: 0 auto;
        .use-my-location {
            display: inline-block;
            width: 25%;
            padding: 10px 5px;
            box-sizing: border-box;
            border: 1px solid #fff;
            border-radius: 25px;
            color: #fff;
            font-size: 14px;
            &:hover {
                background-color: #fff;
                color: rgb(0, 75, 141);
                cursor: pointer;
            }
        }
        .zip-code-wrapper {
            display: inline-block;
            // margin-left: 3%;
            box-sizing: border-box;
            .zip-code {
                display: inline-block;
                padding: 10px 0 10px 20px;
                border-radius: 10px;
            }
            .go-button {
                display: inline-block;
                text-align: center;
                width: 44px;
                height: 44px;
                font-size: 15px;
                padding: 5px;
                border: 1px solid #fff;
                border-radius: 50%;
                margin-left: 20px;
                color: #fff;
                position: relative;
                top: -5px;
                &:hover {
                    color: rgb(0, 75, 141);
                    background-color: #fff;
                    cursor: pointer;
                    text-decoration: none;
                }
            }
        }
    }
}

.shopping-tools {
    text-align: center;
}

.hyundai-logo-2 {
    img {
        margin: 0 auto;
    }
}

.social {
    a {
        color: black;
    }
    margin: 0 auto;
    text-align: center;
}

.copyright {
    color: rgb(154, 154, 154);
    font-size: 18px;
    line-height: 150%;
    margin: 5% 7.5%;
}

.shopping-tool {
    padding: 17.5px 0;
    font-size: 16px;
}

.legals {
    li {
        &:hover {
            color: rgb(0, 117, 201);
            text-decoration: none;
        }
        padding: 0 2%;
        font-size: 18px;
    }
    color: rgb(0, 117, 201);
}

// Icons
.icon {
    display: inline-block;
    position: relative;
    text-indent: -9999px;
    width: 45px;
    height: auto;
    opacity: 1;
    margin: 0 5px;
}

.strike {
    position: relative;
    z-index: 1;
    &:before {
        border-top: 2px solid #bbb;
        content: "";
        margin: 0 auto;
        /* this centers the line to the full width specified */
        position: absolute;
        /* positioning must be absolute here, and relative positioning must be applied to the parent */
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 85%;
        z-index: -1;
    }
    .strike-content {
        color: #bbb;
        background-color: #fff;
        display: inline-block;
        padding: 0 20px;
    }
    &.strike-color {
        &:before {
            border-top: 2px solid rgb(128, 165, 198);
        }
        color: rgb(128, 165, 198); //color
        .strike-content {
            color: rgb(128, 165, 198); //color
            background-color: rgb(0, 75, 141);
        }
    }
    text-align: center;
    margin-bottom: 25px;
    font-size: 16px;
}
